{% extends "base.html.twig" %}

{% block body %}

<div class="jumbotron jumbotron-fluid">

    <h2>Votre token:</h2> {{ token }}

    <a class="btn btn-primary btn-lg" href="http://localhost/frontend-p7/web/app_dev.php/test" role="button">Test du token</a>

</div>

{% endblock %}