{% extends 'base.html.twig' %}

{% block body %}

    <h3>{{ response }}</h3>
    <i class="glyphicon glyphicon-home"></i>
    <div class="glyphicon glyphicon-arrow-left"><a href={{ path('add_phone') }}>Retour</a></div>

{% endblock %}
