{% extends "base.html.twig" %}

{% block body %}

<div class="jumbotron jumbotron-fluid">

    <h2>Votre token:</h2> {{ token }}

    <a class="btn btn-primary btn-lg" href="{{ url('home_user') }}" role="button">Retour</a>

</div>

{% endblock %}